/out/production/Java-Algo/Lec_1/Demo_1.class
/out/production/Java-Algo/Lec_1/Demo_2.class
/out/production/Java-Algo/Lec_2/Loops_demo1.class
/out/production/Java-Algo/Lec_1/Odd_Even.class
/out/production/Java-Algo/Lec_1/ReportCard.class
/out/production/Java-Algo/Lec_1/Simple_Interest.class
/New Folder/
/out/
